@model MyPortfolio.Models.Tbl_Teams
@{
    ViewBag.Title = "UpdateTeam";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>TAKIM BİLGİSİ GÜNCELLE</h2>


<form method="post">

    <input type="hidden" name="TeamId" value="@Model.TeamId"/>
    <label>İmage Url</label>
    @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
    <br />
    <label>Ad Soyad</label>
    @Html.TextBoxFor(x => x.NameSurname, new { @class = "form-control" })
    <br />
    <label>Açıklama</label>
    @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
    <br />
    <label>Twitter </label>
    @Html.TextBoxFor(x => x.TwitterUrl, new { @class = "form-control" })
    <br />
    <label>Facebook</label>
    @Html.TextBoxFor(x => x.FacebookUrl, new { @class = "form-control" })
    <br />
    <label>Linkedin</label>
    @Html.TextBoxFor(x => x.LinkedinUrl, new { @class = "form-control" })
    <br />
    <label>İnstagram</label>
    @Html.TextBoxFor(x => x.İnstagramUrl, new { @class = "form-control" })
    <br />
    <label>Pozisyon</label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    <br />



    <button class="btn btn-secondary">Kaydet</button>
</form>